/*Author: Nour Quffa and Sama Quffa ;*/

body {    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 16px;
    color: #1e272e;
    line-height: 1.4;
    margin: 0px;
    background-color: #f4f4f4;
}
/*--------------------------------Global-----------------------------------------*/
html {
    scroll-behavior: smooth;
}
.container{
    width: 80%;
    margin: auto;
}
/*--------------------------------Header-----------------------------------------*/
header {
    background-color: #1e272e;
    color: #ffffff;
    height: 80px;   
    border-bottom: 3px solid #0b5ed7;
    position: fixed;
    width: 100%;   
    z-index: 10; 

    display: flex; /*بتعمل توسيط للكلام*/
    align-items: center;
}
header ul{
   margin:0;
   padding: 0;
   text-decoration: none;
}
header li {
    float: left;  
    list-style: none;
    padding: 0px 20px 0px 20px; 
    margin-left: -10px;
}
header a{
    text-decoration: none;
    color: #ffffff;
}
header #branding{
    float: right;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: left;
    margin-top: 15px;
}
header .highlight , header .current a{
    color: #0b5ed7;
    font-weight: bold;
}
/*--------------------------------Home-----------------------------------------*/
#home{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)) ,url("../assets/images/hero-bg.jpg");
    min-height: 400px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    padding: 100px 20px 80px 20px;
}
#home .container{
    padding: 90px;
} 
#home h1{
    font-size: 40px;
}
#home p{
    font-size: 20px;   
}
.btn1{
    text-decoration: none;
    background-color: #0d6efd;
    color: white;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-block;
    border: 0;
    margin: 10px;
}
.btn1:hover{
    background-color: #0b5ed7;
    box-shadow: rgba(13, 110, 253, 0.4);
    transform: translateY(-3px);
}
.btn1:active{
    transform: translateY(0);
}
/*--------------------------------Boxes-----------------------------------------*/
#article{
    text-align: center;
    font-size: 25px;
    padding: 20px 0px;
    margin-bottom: -50px ;
    color: #1e272e;  
}
#boxes{
    margin-top: 20px;

}
#boxes .box{
    float: right;
    width: 30%; 
}
#boxes {
  padding: 60px 0;
}
#boxes .container {
  display: flex;
  align-items: flex-start;
}
.box {
  background: #fff;
  border: 0.5px solid #a9a9aa;
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  margin: 0 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  
}
.box:hover {
  transform: translateY(-8px);
}
details summary {
  cursor: pointer;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #1e66ff;
  color: #1e66ff;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}
.box i {
  font-size: 40px;
  color: #1e66ff;
  margin-bottom: 15px;
}
.box h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #111;
}
.box p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}
/*------------------------------------Media-------------------------------------------*/
#media h2{
    text-align: center;
    font-size: 30px;   
}
#media video{
    height: 400px;
    width:100% ;
    border-radius: 12px;  
}
/*------------------------------------Contact-------------------------------------------*/
#contact {
    background-color: #ffffff; 
    padding: 30px;
    border-radius: 15px; 
   border: 0.5px solid #a9a9aa;
    box-shadow: 0 10px 25px #afafaf; 
    max-width: 500px; /* أقصى عرض للصندوق */
    margin-left: 250px;
   margin-top: 60px;
}
#contact h1 {
    color: #1e272e;
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}
.service label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    float:right;
}
.service input, .service select { 
    width: 80%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;  
    float: right;
    text-align: right;
}
#name{
   margin-left:20px;
}
.service button {
    width: 100%;
    cursor: pointer;
}
/* -------------------- Tables / Portfolio --------------------------------------------- */
#portfolio {
  padding: 60px 0;
  background-color: #f4f4f4;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}
.filter-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #0d6efd;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.filter-buttons button:hover {
  background-color: #0b5ed7;
}
table {
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

table th, table td {
  padding: 15px;
  text-align: center;
}

table th {
  background-color: #0d6efd;
  color: white;
  font-size: 18px;
}

#family {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #e9f1ff !important;
}
/*------------------------------------Questions-------------------------------------------*/
#questions {
    background-color: #f4f4f4 !important; 
}
/*------------------------------------Footer-------------------------------------------*/
footer{
    padding: 10px;
    margin-top: 20px;
    color:#fff;
    background-color: #1e272e;
    text-align: center;
    border-top: 3px solid #0b5ed7;
    
}
footer p{
    font-size: 15px;
    margin: 10px;
}













